#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #87F1FF;
}

header {
    text-align: center;
    background-color: #D5A021;
}

header .logo {
    width: 80px;
}

nav a:hover {
    background-color: #FB62F6;
}

nav a {
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
}
#hero-img {
    width: 100%;
}
#hero-box {
    text-align: center;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #D5A021;
}

.home-grid {
    text-align: center;
}

.book, .join {
    background-color: #D5A021;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #FB62F6;
}

.msg {
    background-color: bisque;
    color: darkmagenta;
}
footer {
    text-align: center;
    background-color: #D5A021;
    color: #87F1FF;
}

footer a {
    text-decoration: none;
}

footer h3 a:hover {
    text-decoration: underline;
}

.icon {
    width: 80px;
}