div {
    text-align: center;
    margin: 0 auto;
    font-size: 200%;
    font-weight: bold;
}

.top {
    background-color: red;
    padding: 75px;
    max-width: 350px;
}

.middle {
    background-color: blue;
    padding: 100px;
    max-width: 550px;
}

.bottom {
    background-color: green;
    padding: 120px;
    max-width: 700px;
}

#sidebyside {
    border: 1px gold;
    margin-top: 0;
}

.right {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: gold;
    margin: 0 320px;
}

.left {
    display: inline-block;
    background-color: gold;
    height: 100px;
    width: 100px;
    margin: 0 320px;
}