@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #87F1FF;
    font-family: "EB Garamond";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    grid-column: 5/7;
    grid-row: 1;
}
h2 {
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    text-align: center;
    background-color: #D5A021;
    font-family: "Dancing Script";
}

header .logo {
    width: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    color: #FB62F6;
    background-color: #396E94;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
 /* Home Page CSS */
.grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.grid h2 {
    font-family: "Dancing Script";
}
main section {
    padding: 10px;
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid #D5A021;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
.card-img:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.card-img {
    border: 10px solid #D5A021;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}

.HolesAreBad, .HeadCounter, .SQL {
    margin: 200px 0;
}

.HolesAreBad {
    grid-column: 1/4;
    grid-row: 1/3;
}

.HeadCounter {
    grid-column: 5/7;
    grid-row: 1/3;
}

.SQL {
    grid-column: 8/11;
    grid-row: 1/3;
}

/*About Me CSS*/
.card-img-abt {
    border: 10px solid #D5A021;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
.about-me {
    text-align: center;
    font-family: "Dancing Script";
}

.about-me p {
    font-family: "EB Garamond";
}

.about-me {
    grid-column: 2/4;
    grid-row: 2/3;
    margin-top: 10px;
}

.about-me-p {
    grid-column: 4/6;
    grid-row: 2/3;
    font-size: 22px;
    margin-top: 60px;
}

.organ {
    grid-column: 2/4;
    grid-row: 4/5;
    margin-top: 10px;
}

.organ-p {
    grid-column: 4/6;
    grid-row: 4/5;
    font-size: 22px;
    margin-top: 60px;
}
/*Project CSS*/

.projVid {
    grid-column: 5/7;
    grid-row: 3/3;
    margin-top: 100px;
    border: 10px solid #D5A021;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    width: 560px;
    height: 315px;
}

.projVid h2 {
    font-family: "Dancing Script";
    text-align: center;
    margin-top: 130px;
}   

.projDesc {
    grid-column: 5/7;
    grid-row: 5/6;
    margin-top: 100px;
    width: 100%;
}

#overview {
    margin-top: 10px;
}

.link a {
    text-decoration: none;
}

.link a:hover {
    color: #FB62F6;
    background-color: #396E94;
}
/*TA CSS*/
.ta-info {
    grid-column: 3/5;
    grid-row: 2/3;
    margin-top: 10px;
    width: 100%;
    padding: auto;
}

.ta-specific {
    grid-column: 3/5;
    grid-row: 2/3;
    margin-top: 300px;
    width: 100%;
    padding: auto;
}

.ta-info h1, .ta-specific h1 {
    font-family: "Dancing Script";
}

.calendly {
    grid-column: 6/8;
    grid-row: 2/3;
    margin-top: 10px;
    width: 100%;
    padding: auto;
}

footer {
    text-align: center;
    background-color: #D5A021;
    color: #87F1FF;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
}

footer h3 a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 900px) {
    .grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .HolesAreBad, .HeadCounter, .SQL { 
        margin: 50px auto;
        width: 60%;
    }
    .about-me {
        grid-column: 1/3;
        grid-row: 1/2;
        margin-top: 10px;
    }
    .about-me-p {
        grid-column: 1/3;
        grid-row: 2/3;
        font-size: 18px;
        margin-top: 60px;
    }
    .organ {
        grid-column: 1/3;
        grid-row: 3/4;
        margin-top: 10px;
    }
    .organ-p {
        grid-column: 1/3;
        grid-row: 4/5;
        font-size: 18px;
        margin-top: 60px;
    }
    .projVid {
        grid-column: 1/3;
        grid-row: 3/4;
        margin-top: 100px;
        border: 10px solid #D5A021;
        transition: transform 0.5s;
        box-shadow: 5px 5px 10px #6f7364;
        width: 100%;
        width: 560px;
        height: 315px;
    }
    .projDesc {
        grid-column: 1/3;
        grid-row: 5/6;
        margin-top: 100px;
        width: 100%;

    }
    .link {
        grid-column: 1/3;
        grid-row: 7/8;
        margin-top: 150px;
        width: 100%;
    }
    .link a {
        text-decoration: none;
    }
    .link a:hover {
        color: #FB62F6;
        background-color: #396E94;
    }
    footer {

        margin-top: 25px;
    }
    html {
        margin: 0;
    }
}